@font-face {
    font-family: myFont;
    src: url(../images/COOPBL.TTF);
  }


/* body{
    margin:0;
    font-size: 190%;
    background: linear-gradient(rgb(226, 238, 243),rgb(77, 135, 212));
    height: 100vh;
    font-family: Arial;
    font-size: 120%;
    float:center;
}

h1{
    font-family: myFont;
    font-size:300%;
}
#contain{
position: absolute;
margin-left: 35%;
margin-top: 7%;
} */

body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    font-family: Arial;
    font-size: 120%;
    margin-top: 0%;
    padding-top: 0%;
    background: linear-gradient(rgb(226, 238, 243), rgb(77, 135, 212));
}

#contain {
    grid-column: 4 / 8;
    grid-row: 1 / 6;
}
h1 {
    font-family: myFont;
    font-size: 200%;
    color: red;
}
p {
    padding: 1%;
}


#goal {
    color: white;
}
#howto {
    color: white;
}
strong {
    font-family: myFont;
    color: rgb(251, 255, 37);
    font-size: 120%;
}

#next {
    grid-column: 9 / 10;
    grid-row: 5 / 6;
}
img {
    width: 200px;
}

#next:hover{
    opacity:70%;
    transform: scale(1.05, 1.05);
 }
