@font-face {
    font-family: myFont;
    src: url(../images/COOPBL.TTF);
  }


body{
    display: grid;
    grid-template-columns: repeat(13,1fr);
    grid-template-rows: repeat(1,1fr);
    margin:0%;
    background: linear-gradient(rgb(226, 238, 243),rgb(77, 135, 212));
    height: 100vh;
    font-family: myFont,Arial;
}

table{
    grid-column: 2/11;
    grid-row: 1/2;
}

tr{
    height:33.59px !important; 
    min-height: 33.59px !important; 
    max-height: 33.59px !important; 
}
td{
    margin: 0%;
    padding: 0%;
}  
td {
    width: 3.33%;
    height:33.59px !important; 
    min-height: 33.59px !important; 
  }

  ul{
      display:inline-block;
      /* margin-top: 3%;
      margin-left: 10%; */
     font-size: 190%;
     list-style: none;
  }
img{
    width: 80%;
    margin: 0%;
}


#right{
    grid-column: 12/13;
    grid-row: 1/11;
    border-left:solid 1.5px black; 
    text-align: center;
    background-color:rgb(226, 238, 243);
}

  
#time1{
  width: 30%;
  height: 99vh;
  background-color: white;
}
#time2{
    width: 30%;
    height: 1vh;
    background: linear-gradient(blue,red,green,yellow);
  }
#points{
    width: 50%;
    /* text-align: center; */
    color: red;
    font-size: large;
    

  }

#score{
    height: 100vh;
    grid-column: 13/14;
    color: red;
    background-color:rgb(226, 238, 243);
} 

#titleScore{
    margin-right:15%;
    padding-left: 7%;
    padding-right: 10%;
    border-radius: 50%;
}




 .smallBubbles{
width: 30px;
height: 30px;
margin-top:10%;
margin-right:5%;
margin-left:5%;
margin-bottom: 0%;

/* position: relative; */
} 
#images{
    padding-left: 15%;
    display: flex;
    
  }
#points {
    display: flex;
    justify-content: flex-end;
    padding-right: 3%;
} 
#titleScore{
    margin: 0%;

}
   #myModal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
 #contain{
     background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 50%;
     width: 20%;
     height: 60%;
     box-shadow:10px 10px 10px  black ;
     display: grid;
     grid-template-rows: repeat(17,1fr);
 }
 #newGame{
    background-color: red;
    text-decoration-line: none;
    border:none;
    font-size: larger;
    margin-bottom: 0px;
    width: 100%;
    padding:0% ;
    margin-top: 0.5%;
} 
#aa{
grid-row: 1/11;
margin-top: 2%;
margin-bottom: 2%;
}
li{
    margin: 0%;
    display: inline-block;
}
p{
    padding: 5px 0;
    margin: 0%;
}
#images{
    margin-top:5%;
    grid-row: 11/16;
}
#newGame{
    grid-row: 16/18;
}
*{
    overflow: hidden;
}