body{
    margin:0;
    font-size: 190%;
    background: linear-gradient(rgb(226, 238, 243),rgb(77, 135, 212));
    height: 100vh;
}
@font-face {
    font-family: myFont;
    src: url(../images/COOPBL.TTF);
  }

header{
  font-family: myFont,Arial, Helvetica, sans-serif;
    grid-column: 1/12;
    grid-row: 1/2;
}


ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
  border-bottom:  5px double black;
}
li{
  float:left;
}

 a{
  
  display:block;
  color:black;
  text-align: center;
  padding:20px 40px;
  text-decoration: none;
}

li .active{
 color:red;
} 

li .sing:hover,li.sing:active{
  color:  rgb(253, 234, 66);
} 
li .log1:hover,li.log1:active{
 color: rgb(10, 60, 197);
}
li .log2:hover,li.log2:active{
  color: rgb(11, 192, 41);
}
.active{
  background-color:white;
}


.game:hover{
    opacity:70%;
    transform: scale(1.05, 1.05);
 }


 .right-games{

     float: right;
     min-width: 200px;
     width:20%;
     display:inline-flex;
     gap:13vh;

 }

 .left-games{
    float: right;
    min-width: 200px;
    width:20%;
    display:inline-flex;
    gap:13vh;
 }


 image{
 animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {top: 300px;}
}

img{
    animation:mymove 5s infinite;
    clip:rect(0,100px,100px,0);
   border-radius: 10%;
   width:150%;
}

.imgLog{
  width:4%;
  display:inline-flex;
}

h1{
  margin-top: -30px;
}
.games{

    margin: 10% 20vh;
}

main{
    grid-column: 1/6;
    grid-row: 2/6;
}

#imgs{
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.image{
    width: 15%;
    margin-top: 10%;
}


#img1 {
    position: relative;
    animation: myfirst1 3s linear 2s infinite alternate;
  }

  #img2 {
    position: relative;
    animation: myfirst2 3s linear 2s infinite alternate;
  }
  #img3 {
    position: relative;
    animation: myfirst3 3s linear 2s infinite alternate;
  }
  #img4 {
    position: relative;
    animation: myfirst4 3s linear 2s infinite alternate;
  }
  
  @keyframes myfirst1 {
    0%   {top:0px;}
    15%  {top:100px;}
    50%  {top:0px;}
    75%  {top:100px;}
    100% {top:0px;}
  }
  @keyframes myfirst2 {
    0%   {top:50px;}
    15%  {top:0px;}
    50%  {top:100px;}
    75%  {top:50px;}
    100% {top:0px;}
  }
  @keyframes myfirst3 {
    0%   {top:100px;}
    15%  {top:0px;}
    50%  {top:100px;}
    75%  {top:0px;}
    100% {top:0px;}
  }
  @keyframes myfirst4 {
    0%   {top:50px;}
    15%  {top:100px;}
    50%  {top:0px;}
    75%  {top:100px;}
    100% {top:0px;}
  }
  