main>div{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

main img{
    height: 100%;
}

@media only screen and (max-width: 768px) {
    main>div{
        height: 50%;
    }
}