*{
  font-family: cursive;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  background: #ffffff;
}
.all{
  text-align: center;

 
}

.text{
  margin: 50px;
  margin-right: 200px;
  margin-left: 200px;
  width:75%;
  border:2px solid rgb(22, 1, 5);
  height:200px;
  background-color: rgba(240, 248, 255, 0.568);


  overflow :auto;

 
}
.mytext{
  background-color:rgba(240, 248, 255, 0.568);
}
.KeyBoard{
  margin:0;
  padding:0;
  width:800px;
}
.letter{
  margin:1px;
  padding:10px;
  inline-size: 3%;
  border: none;
  

}
button{
  margin:1px;
  padding:10px;
  border: none;
  background:rgba(146, 144, 144, 0.281);
}
.space{

  width:400px;
}
.enter
{
  width:370px;
}
.undoLast{
  width:400px;
}
.delete{
  width:370px;
}
select,option{
  padding:10px;
}
h3{
  color:rgb(255, 0, 0)
}
.language{
  height: 100px;
}
.special{
  margin-top: 20px;
}